@font-face {
    font-family: "Golos Text";
    src: url("./assets/Golos_Text/GolosText-VariableFont_wght.ttf");
}

:root {
    --accent: #3950ff;
    --secondary: #0f0;
    --dark: #181818;
    --light: #eee;

    --bg: var(--light);
    --fg: var(--dark);
    font-family: 'Golos Text','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    min-height: 100dvh;
}

.title-rect {
    width: 90dvw;
    padding: 2rem 4ch;
    background-color: var(--accent);
    color: var(--light);
}
